<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE ICusCRMAuthor>
<ICusCRMAuthor>
  <!--************************系统设置权限配置开始***************************-->
  <!--用户管理-->
  <container areaName="" controllerName="system" actionName="UserMgtResult">
    <!--展示页面-->
    <subrights  controllerName="system" actionName="UserMgtResult"/>
    <!--修改用户信息-->
    <subrights  controllerName="system" actionName="ModifyUserInfo"/>
    <!--删除用户-->
    <subrights  controllerName="system" actionName="DeleteUser"/>
    <!--获得用户列表-->
    <subrights  controllerName="system" actionName="GetALlUserList"/>

  </container>

  <!--角色管理-->
  <container areaName="" controllerName="system" actionName="SysRoleMgtResult">
    <!--展示页面-->
    <subrights controllerName="system" actionName="SysRoleMgtResult"/>
    <!--获得角色列表-->
    <subrights controllerName="system" actionName="GetRoleList"/>
    <!--获得角色键值对列表-->
    <subrights controllerName="system" actionName="GetRoleItemList"/>
    <!--修改角色-->
    <subrights controllerName="system" actionName="ModifyRoleInfo"/>
    <!--获得角色树-->
    <subrights controllerName="system" actionName="GetFuncTree"/>
    <!--获得所有非租户权限树-->
    <subrights controllerName="system" actionName="GetAllNotTenantFuncsTree"/>
    <!--删除角色-->
    <subrights controllerName="system" actionName="DeleteRole"/>
    <!--获得角色树-->
    <subrights controllerName="system" actionName="GetRoleSelect2List"/>
  </container>
  <!--学员管理权限配置结束-->
</ICusCRMAuthor>
